@font-face {
  font-family: "neuzeit-grotesk";
  src: url("/assets/fonts/Neuzeit Grotesk Regular.woff");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "itc-avant-garde-gothic-pro";
  src: url("/assets/fonts/ITC Avant Garde Pro Bold.woff") format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "neuzeit-grotesk";
  src: url("/assets/fonts/Neuzeit Grotesk Bold.woff") format('woff');
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
}