@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "neuzeit-grotesk", sans-serif;
}

p {
  font-size: 1.35rem; 
}

.title {
  font-family: "itc-avant-garde-gothic-pro", sans-serif;
}

@media screen and (min-width: 1200px) {
  p {
    font-size: calc(1.26rem + 0.12vw);
  }
}

a {
  @apply text-blue-700;
}

a:hover {
  @apply border-b-2 border-blue-700;
}

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

